[Unit]
Description=backend for the conboard made with flask-python
Documentation=https://github.com/rafaelchiafarelli/conboard

[Service]
User=root
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=20
Environment=PYTHONPATH=/conboard/backend/venv/bin
Environment=PATH=/conboard/backend/venv/bin
WorkingDirectory=/conboard/backend
ExecStart=/conboard/backend/venv/bin/gunicorn -w 1 -t 5 -b localhost:8080 main:app --access-logfile /conboard/backend/access.log -k gevent


[Install]
WantedBy=multi-user.target