# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
backend/venv/
backend/static/
backend/templates/
frontend/venv/
*.pyc
*__pycache__
.vscode/

scripts/Python-3.8.0.tgz
scripts/Python-3.8.0/
scripts/cppzmq/
scripts/install
