ACTION=="add", SUBSYSTEM=="usb", DRIVER=="usb", RUN+="/conboard/event_handler.sh add"
ACTION=="remove", SUBSYSTEM=="usb", DRIVER=="usb", RUN+="/conboard/event_handler.sh remove"