[Unit]
Description=launcher to find all xml with assosiated files.
Documentation=https://github.com/rafaelchiafarelli/conboard

[Service]
User=root
Type=oneShot
Restart=always
RestartSec=5
TimeoutStopSec=20
Environment=PYTHONPATH=/conboard/frontend/venv/bin
Environment=PATH=/conboard/frontend/venv/bin
WorkingDirectory=/conboard/frontend
ExecStart=/conboard/LowLevel/launcher/build/launcher  -r -x /conboard/boards/ -d /conboard/boards/ 


[Install]
WantedBy=multi-user.target