[Unit]
Description=launcher to find all json with assosiated files.
Documentation=https://github.com/rafaelchiafarelli/conboard

[Service]
User=root
Type=oneshot
ExecStart=/conboard/LowLevel/launcher/build/launcher  -r -x /conboard/boards/ -d /conboard/boards/ 


[Install]
WantedBy=multi-user.target
