[Unit]
Description=USB OTG gadgets
Documentation=https://github.com/rafaelchiafarelli/conboard

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/conboard/scripts/usb-composite-all.sh

[Install]
WantedBy=multi-user.target
